<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	<!-- mobile viewport optimization -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link type="text/css" rel="stylesheet" href="public/css/bootstrap/css/bootstrap.css">
  	<link type="text/css" rel="stylesheet" href="public/css/bootstrap/css/bootstrap-responsive.css">
  	<link type="text/css" rel="stylesheet" href="public/css/jquery-ui-1.10.3.custom.css">
	
	<script type="text/javascript" src="app/js/vendors/jquery-2.0.2.js"></script>
	<script type="text/javascript" src="app/js/vendors/jquery-ui-1.10.3.custom.js"></script>
	<script type="text/javascript" src="app/js/vendors/datetimepicker.js"></script>
	<script type="text/javascript" src="app/js/vendors/underscore.js"></script>
	<script type="text/javascript" src="app/js/vendors/swig.pack.min.js"></script>	
	<script type="text/javascript" src="app/js/vendors/backbone.js"></script>	
  	<script type="text/javascript" src="public/css/bootstrap/js/bootstrap.js"></script>

	<title>Gestion de horarios</title>
</head>
<body>

	<header id="encabezado_principal" class="container">
		<div class="hero-unit">
		  <h1>Programacion CAPF</h1>
		  <p>Generador de horarios</p>
		  <p>
		    <!--<a class="btn btn-primary btn-large">
		      Learn more
		    </a>-->
		  </p>
		</div>
	</header>

	<nav id="nav_principal" class="container">
		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#"><i class="icon-home"></i></a>
		    <ul class="nav">
		      <li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Calendarios<b class="caret"></b></a>
			    <ul class="dropdown-menu">
			    	<li><a href="#new_calendar">Agregar calendario</a></li>
			    	<li><a href="#all_calendars" id="">Ver todos los calendarios</a></li>
			    </ul>
			  </li>

			  <li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actividades ofrecidas<b class="caret"></b></a>
			    <ul class="dropdown-menu">
			    	<li><a href="#new_activity">Agregar Actividad</a></li>
			    	<li><a href="#all_activities">Ver todas las actividades</a></li>
			    </ul>
			  </li>

			  <li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Turnos funcionarios<b class="caret"></b></a>
			    <ul class="dropdown-menu">
			    	<li><a href="#">Agregar turno</a></li>
			    	<li><a href="#">Ver todos los turnos</a></li>
			    </ul>
			  </li>

			   <li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programacion de servicios<b class="caret"></b></a>
			    <ul class="dropdown-menu">
			    	<li><a href="#">Nueva programacion</a></li>
			    	<li><a href="#">Ver todas las programaciones</a></li>
			    </ul>
			  </li>

			  <li><a href="#exit">Salir</a></li>
		    </ul>
		  </div>
		</div>
	</nav>

	<script type="text/template" id="tpl_msg-empty">
		<div class="hero-unit">
		  <h1>{{ msg }}</h1>
		  <p>{{ submsg }}</p>		  
		</div>
	</script>

	<script type="text/template" id="tpl_newcalendar">	
		<div class="well">
			<h3 class="text-center">Nuevo calendario</h3>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span4">
						<label for="initial_date">Fecha de inicio</label>
						<input id="initial_date" type="text" class="txt_dates"/>
					</div>
		
					<div class="span4">
						<label for="end_date">Fecha de finalizaci&oacute;n</label>
						<input id="end_date" type="text" class="txt_dates"/>
					</div>
		
					<div class="span4">
						<label for="state">Estado</label>
						<input id="state" type="text" value="activo" disabled/>
					</div>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span6">
						<button id="btn_add" class="btn btn-info">Add</button>
					</div>
		
					<div class="span6">
						<button id="btn_del" class="btn btn-info">Del</button>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="tpl_newschedule">	
		<div class="well row-schedule">	
			<span class="label label-info lead">Nuevo horario</span>	
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<div class="span3">
							<label for="day">Dia</label>
							<select name="days[]">
								<option value="lunes">Lunes</option>
								<option value="martes">Martes</option>
								<option value="miercoles">Miercoles</option>
								<option value="jueves">Jueves</option>
								<option value="viernes">Viernes</option>
								<option value="sabado">Sabado</option>
								<option value="domingo">Domingo</option>
							<select>
						</div>
			
						<div class="span3">
							<label for="initial_hour">Hora de inicio</label>
							<input name="initial_hours[]" type="text" class="txt_hours"/>
						</div>
			
						<div class="span3">
							<label for="end_hour">Hora de finalizacion</label>
							<input name="end_hours[]" type="text" class="txt_hours" />
						</div>

						<div class="span3">
							<label for="btn_del_schedule">>.<</label>
							<button class="btn_del_schedule btn btn-danger btn-mini"><i class="icon-remove icon-white"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="tpl_newactivity">	
		<div class="well">
			<h3 class="text-center">Nueva Actividad</h3>
		</div>
		<div clasS="well">
			<span class="label label-info lead">Datos de la actividad</span>
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<div class="span2">
							<label for="activity_type">Tipo</label>
							<select id="activity_type" class="span12">
								<option value="">--</option>
								<option value="cg">Clase grupal</option>
								<option value="se">Servicio empresarial</option>
							</select>
						</div>
			
						<div class="span7">
							<label for="activity_description">Descripci&oacute;n</label>
							<input id="activity_description" type="text" class="span12 txt_data"/>
						</div>
			
						<div class="span3">
							<label for="activity_place">Lugar</label>
							<input id="activity_place" type="text" class="span12 txt_data"/>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<div class="span6">			
							<button id="btn_add_schedule" class="btn btn-info"><i class="icon-plus icon-white"></i></button>			
							<button id="btn_save_activity" class="btn btn-success"><i class="icon-ok icon-white"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="tpl_allcalendars">
		<div class="well">
			<h3 class="text-center">Todos los calendarios</h3>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Fecha inicial</th>
					<th>Fecha final</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for calendar in calendars %}
				<tr>
					<td>{{ calendar.initial_date }}</td>
					<td>{{ calendar.end_date }}</td>
					<td>{{ calendar.state }}</td>
					<td><button id="{{ calendar.cid }}_del" class="allcalendars_btn-del btn btn-danger btn-mini"><i class="icon-remove icon-white"></i></button><button id="{{ calendar.cid }}_update" class="allcalendars_btn-update btn btn-info btn-mini"><i class="icon-ok icon-white"></i></button></td>				
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</script>

	<script type="text/template" id="tpl_allactivities">
		<div class="well">
			<h3 class="text-center">Todas las actividades</h3>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Descripcion</th>
					<th>Lugar</th>
				</tr>
			</thead>
			<tbody>
				{% for activity in activities %}
				<tr>
					<td>{{ activity.type }}</td>
					<td>{{ activity.description }}</td>
					<td>{{ activity.place }}</td>
					<td><button id="{{ activity.cid }}_del" class="allactivities_btn_del btn btn-danger btn-mini"><i class="icon-remove icon-white"></i></button><button id="{{ activity.cid }}_update" class="allactivities_btn_update btn btn-info btn-mini"><i class="icon-ok icon-white"></i></button></td>				
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</script>

	<section id="contenido_dinamico" class="container"></section>

	<br />

	<section id="contenido_msg" class="container"></section>

	<footer id="footer_principal"  class="container">
		<h6 class="pull-right">Todos los derechos reservados</h6>
	</footer>


	<script type="text/javascript" src="app/js/init.js"></script> 
	<script type="text/javascript" src="app/js/backbone/routers/navbar.js"></script>
	<script type="text/javascript" src="app/js/backbone/views/newcalendar.js"></script>
	<script type="text/javascript" src="app/js/backbone/views/allcalendars.js"></script>
	<script type="text/javascript" src="app/js/backbone/views/allactivities.js"></script>
	<script type="text/javascript" src="app/js/backbone/views/msgs.js"></script>
	<script type="text/javascript" src="app/js/backbone/views/newactivity.js"></script>
	<script type="text/javascript" src="app/js/backbone/views/newschedule.js"></script>
	<script type="text/javascript" src="app/js/backbone/models/calendar.js"></script>
	<script type="text/javascript" src="app/js/backbone/models/schedule.js"></script>
	<script type="text/javascript" src="app/js/backbone/models/activity.js"></script>
	<script type="text/javascript" src="app/js/backbone/collections/calendarlist.js"></script>
	<script type="text/javascript" src="app/js/backbone/collections/schedules.js"></script>
	<script type="text/javascript" src="app/js/backbone/collections/activities.js"></script>
	<script type="text/javascript" src="app/js/main.js"></script>
</body>
</html>